aiodns==3.5.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.0
aioquic==1.2.0
aiosignal==1.4.0
anyio==4.11.0
asgiref==3.10.0
attrs==25.4.0
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.3
click==8.3.0
cryptography==46.0.2
Django==5.2.7
dnspython==2.8.0
frozenlist==1.8.0
greenlet==3.2.4
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
multidict==6.7.0
postfix_mta_sts_resolver==1.5.0
propcache==0.4.0
psl==2025.5.26
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycares==4.11.0
pycparser==2.23
pylsqpack==0.3.22
pyOpenSSL==25.3.0
PyYAML==6.0.3
requests==2.32.5
service-identity==24.2.0
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.43
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.15.0
url-normalize==2.2.1
urllib3==2.5.0
yarl==1.22.0
